#edu {
    height: 160vh; 
    width: 150vh; 
    margin: 0 auto; 
    overflow: hidden; 
    font-family: 'Georgia', serif; 
}

.edu-title {
    padding-bottom: 3rem; 
    font-size: 2.5rem;
}

.timeline {
    position: relative; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.timeline::after {
    content: ''; 
    position: absolute; 
    width: 5px; 
    background-color:rgb(113, 113, 113);
    top: 0; 
    bottom: 0; 
    left: 50%; 
    margin-left: -2.5px; 
}

.contain {
    padding: 10px 40px; 
    position: relative; 
    background-color: inherit; 
    width: 50%;
}

.highschool {
    left: 0; 
}

.university {
    left: 50%; 
}

.university::before{
    content: ''; 
    position: absolute; 
    height: 0; 
    top: 22px; 
    width: 0; 
    z-index: 1; 
    left: 30px; 
    border: medium solid rgb(113, 113, 113);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(113, 113, 113) transparent transparent;
}

.highschool::before {
    content: ''; 
    position: absolute; 
    height: 0; 
    top: 22px; 
    width: 0; 
    z-index: 1; 
    right: 30px; 
    border: medium solid rgb(113, 113, 113);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(113, 113, 113);
}

.highschool-grad {
    position: absolute;
    right: -540px; 
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 275px; 
    object-fit: cover;
    object-position: 0 -100px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgb(113, 113, 113);
}

.waterloo-sign {
    position: absolute;
    right: 640px; 
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 233px; 
    object-fit: cover;
    object-position: 0 -100px;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgb(113, 113, 113); 
}

.content {
    padding: 20px 30px;
    background-color:rgb(113, 113, 113);
    position: relative; 
    border-radius: 5px; 
    color: rgb(242, 243, 245); 
}

.year {
    font-size: 1.2rem; 
    font-weight: bold; 
    padding-bottom: 1rem; 
}

.edu-type {
    font-size: 1.5rem; 
    font-weight: bold; 
}

.point {
    font-size: 1.2rem; 
    text-align: left; 
    padding-top: 0.75rem; 
    padding-bottom: 0.25rem; 
}

.point-details {
    font-size: 1rem; 
    text-align: left; 
}

.more-point-details {
    padding-bottom: 0.5rem; 
}