.navbar {
    background-color: lightblue;
    padding: 10px;
  }
  
  .Menu {
    display: flex;
    gap: 10px;
  }
  
  .MenuListItem {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .menuButton {
    display: none; /* Just for now */
  }
  