.navbar {
    height: 4rem; 
    width: 100vw; 
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: sticky; 
    top: 0; 
    z-index: 3; 
    background-color: rgb(173, 216, 230);
  }
  
  .Menu {
    display: flex;
    gap: 10px;
  }
  
  .MenuListItem {
    margin: 1rem; 
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .MenuListItem:hover {
    color: black; 
    padding-bottom: 0.5rem; 
    border-bottom: 3px solid black;
  }
