* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none; 
    background-color: transparent; 
}

body {
    background: rgb(242, 240, 239); 
    color: black; 
    overflow: hidden; 
    overflow-y: scroll;
}
